{% extends 'base.html' %}
{% load static %}

{% block title %}
    <div class='container'>
        <h1>Images</h1>

        <p>
            <input type="hidden" role="uploadcare-uploader"
                   data-images-only="true"
                   data-multiple="true"/>
        </p>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class='notifications'></div>
        <table class='table table-hover'>
            {% for image in object_list %}
                <tr class='{% if image.status = "CD" %}success{% endif %}'>
                    <td>#{{ image.id }}</td>
                    <td>unit {{ image.crowdcafe_unit_id }}</td>
                    <td>{{ image.get_status_display }}</td>
                    <td><a href='{{ image.url }}' target='_blank'>{{ image.filename }}</a></td>
                    <td><a href='{{ image.crowdcafeUnitUrl }}' target='_blank'>crowdcafe unit</a></td>
                    <td><a href="{% url 'marble3d-image-update' image.id %}" class='btn btn-default'>edit</a></td>
                </div>
                </tr>
            {% empty %}
                <h3>No images yet.</h3>
            {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
        var store_image_url = '{% url "marble3d-image-upload" imageblock.id %}';
        var csrf_token = '{{ csrf_token }}';
    </script>

    <script src="//ucarecdn.com/widget/1.2.0/uploadcare/uploadcare-1.2.0.min.js"></script>
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}