.wide-image{
    position:absolute;
    left:0px;
    width:100%;
}
.workflow{
    width:100%;
}
.workflow > li{
    width:100%;
    text-align: center;
}
.workflow > li h4{
    text-align: left;
}
.workflow > li img{
    height:256px;
}