{% extends 'base.html'%}
{%load static%}

{% block content%}
<div class='container'>
        <ol class='workflow'>
        <li>
            <h4 class='center'>CrowdBox creates a folder in your Dropbox:</h4>
            <img src="{% static 'img/workflow/step1.png' %}">
        </li>
        <li>
            <h4 class='center'>You create a folder inside and put there images you want to crop:</h4>
            <img src="{% static 'img/workflow/step2.png' %}">
        </li>
        <li>
            <h4 class='center'>CrowdBox sync these images with <a href="http://crowdcafe.io/" target="_blank">CrowdCafe</a>:</h4>
            <img src="{% static 'img/workflow/step3.png' %}">
        </li>
        <li>
            <h4 class='center'>People on CrowdCafe shape objects on images:</h4>
            <img src="{% static 'img/workflow/step4.png' %}">
        </li>
        <li>
            <h4 class='center'>You receive shaped images:</h4>
            <img src="{% static 'img/workflow/step5.png' %}">
        </li>
        </ol>
        {% if not user.is_authenticated %}
        <hr>
            <p class='center'>
            <a href="{% url 'socialauth_begin' 'dropbox' %}" class="btn btn-lg btn-dropbox-inversed">
                <i class="fa fa-dropbox"></i> login via Dropbox
            </a>
        </p>
            {%endif%}
</div>
{% endblock%}