{%load static%}
<div class='container'>
	<div class="header">
		<ul class="nav nav-pills pull-right">
        <li>
            <a href="{% url 'website-info' %}">About</a>
        </li>
            {% if user.is_authenticated %}
			<li>
			<a href="#">{{user.first_name}}</a>
            </li>
            <li>
			<a href="{% url 'logout' %}">logout</a>
			</li>
            {%endif%}
		</ul>
		<h3 class="text-muted"><a href='{% url "website-welcome" %}'><img src="{% static 'img/logo_64.jpg' %}"></a></h3>
	</div>
</div>