{% extends 'base.html'%}
{%load static%}

{% block content%}
<div class='container'>
	<div class='center'>
        <img src="{% static 'img/logo_256.jpg' %}">
        <h3 class='center'>Make the crowd crop objects on images you want.</h3>
        <p>
            <a href="{% url 'socialauth_begin' 'dropbox' %}" class="btn btn-lg btn-dropbox">
                <i class="fa fa-dropbox"></i> login via Dropbox
            </a>
        </p>
        <p>
            you get 1 Euro to try the tool
        </p>
	</div>
</div>
{% endblock%}