.center {
    text-align: center;
}

.block-container .stone-block {
    padding: 10px;
    float: left;
    width: 23%;
    border: 1px solid white;
    border-radius: 4px;
    height: 100px;
    display: inline-block;

    margin-left: 10px;
    margin-top: 10px;
}

.block-container .stone-block:hover {
    cursor: pointer;
    background-color: white;
    color: #444;
}

.image-container img {
    max-width: 90%;
    max-height: 200px;

    display: inline-block;
}

body {
    text-shadow: none;
    box-shadow: none;
}

.modal-body a {
    color: #444;
}